@import "colors";

.dj-richtext-wrapper {
	--button-active: #{$richtext-button-active};
	--button-opacity: #{$richtext-button-opacity};

	position: relative;

	[role="menubar"] {
		border: none;
		position: absolute;
		inset: 0 0 auto 0;
		padding: 0.125rem 0.25rem;

		[role="separator"] {
			display: inline-block;
			padding: 0.25rem 0;
			vertical-align: middle;
		}

		button {
			display: inline-block;
			text-align: center;
			text-decoration: none;
			vertical-align: middle;
			cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
			border: none;
			border-radius: 0.25rem;
			padding: 0.25rem;
			background-color: inherit;
			opacity: var(--button-opacity);
			&:hover {
				opacity: 1;
			}
			&.active {
				opacity: 1;
				background-color: var(--button-active);
			}
			&[richtext-toggle="heading"] {
				&:after {
					border-bottom: 0;
					border-left: 0.3em solid transparent;
					border-right: 0.3em solid transparent;
					border-top: 0.3em solid;
					margin-right: 0.125rem;
					content: "";
					display: inline-block;
					transition: transform 250ms ease-in-out;
				}
				&[aria-expanded="true"]:after {
					transform: scaleY(-1);
				}
				& + ul[role="menu"] {
					display: none;
					padding: inherit;
					list-style: none;
					background-color: inherit;
					border-color: black;
					> li {
						background-color: inherit;
						opacity: var(--button-opacity);

						&:hover {
							opacity: 1;
						}

						&.active {
							color: inherit;
							opacity: 1;
							background-color: var(--button-active);
						}
					}
				}
				&[aria-expanded="true"] + ul[role="menu"] {
					display: block;
				}
			}
			> svg {
				vertical-align: middle;
				display: inline;
			}
		}
	}

	.ProseMirror {
		border: none;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		word-wrap: break-word;
		white-space: break-spaces;
		font-variant-ligatures: none;
		font-feature-settings: "liga" 0; /* the above doesn't seem to work in Edge */
		overflow: hidden;

		&[contenteditable="false"] {
				white-space: normal;
		}

		p {
			margin-bottom: 0.5rem;
		}

		li > p {
			margin: 0;
		}

		&:focus-visible {
			outline: none;
		}

		pre {
			white-space: pre-wrap;
		}
	}

	&.focused {
		opacity: 1;
	}

	.dj-submitted &.focused.invalid {
		opacity: 1;
	}

	&:not(.focused).invalid {
		border-color: var(--django-formset-color-invalid);
	}

	&:not(.focused).valid {
		border-color: var(--django-formset-color-valid);
	}
}

.draggable-item {
	// display: block;

	display: flex;
	padding: 0.5rem;
	margin: 0.5rem 0;
	border-radius: 0.5rem;
	background: white;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 10px 20px rgba(0, 0, 0, 0.1);

	.drag-handle {
		flex: 0 0 auto;
		position: relative;
		width: 1rem;
		height: 1rem;
		top: 0.3rem;
		margin-right: 0.5rem;
		cursor: grab;
		background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 16"><path fill-opacity="0.2" d="M4 14c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zM2 6C.9 6 0 6.9 0 8s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6C.9 0 0 .9 0 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 4c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" /></svg>');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}

	.content {
		flex: 1 1 auto;
	}

}
